article.single {
  line-height: 2.0;

  pre {
    line-height: 1.5em;
  }
}
dl.docutils dt {
  padding: .5em;
}

table[class="docutils"] {
  margin: auto;

  th, td {
    border: 1px solid #ddd;
  }

  tbody {
    tr {
      background-color: #fff;
    }

    tr:nth-child(2n + 1) {
      background-color: #f6f8fa;
    }
  }
}

article.single {
  tt, a {
    overflow-wrap: break-word;
  }
}

table.docutils.footnote {
  width: 100%;
  table-layout: fixed;

  td.label {
    width: 2em;
  }
}

article.single {
  .highlight {
    .bp {
      color: unset;
    }
  }

  table.highlighttable {
    width: 100%;
    table-layout: fixed;

    td {
      border-style: none;
      padding: 0px;
    }

    td.linenos {
      width: 2.5em;

      pre {
        border-left: 0px;
        padding-right: 0.8em;
        background-color: inherit;
        text-align: right;
      }
    }
  }
}

article.single {
  div.math.block {
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
  }
}

i.fa-link.anchor-link {
  margin-left: 0.8em;
  font-size: 90%;

  &:not(:hover) {
    color: lightgray;
  }
}


div.sharebuttons {
  display: flex;

  ul.social li {
    margin-left: 0.4em;
  }
}


body {
  color: #454545;
}
aside {
  color: #444;
  background-color: #eee;

  a {
    color: inherit;

    &:hover {
      color: #555;
    }
  }
}
ul.social a {
  color: #ffffff;
}


ul.social {
  a.sc-clipboard {
    background-color: lightslategray;
  }

  a.sc-get-pocket {
    background-color: lightcoral;
  }

  a.sc-code {
    background-color: gray;
  }
}


.tooltip {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 12px 0px;

  .tooltip-arrow {
    width: 0;
    height: 0;
    margin: 5px;
    position: absolute;
    border: 5px solid #ffffff;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      transform: rotate(45deg);
      left: calc(50% - 5px);
      box-shadow: rgba(0,0,0,0.2) 0px -3px 12px 0px;
      background-color: transparent;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      top: -10px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .footnote-tooltip-content {
    padding: 4px 10px;
  }
}
