@use './style/theme.scss';
@use './style/github.scss';
@use './style/pygments.scss';

dl.docutils dt {
  padding: .5em;
}

table[class="docutils"] {
  margin: auto;

  th, td {
    border: 1px solid #ddd;
  }

  tbody {
    tr {
      background-color: #fff;
    }

    tr:nth-child(2n + 1) {
      background-color: #f6f8fa;
    }
  }
}

table.docutils.footnote {
  width: 100%;
  table-layout: fixed;

  td.label {
    width: 2em;
  }
}

article.single {
  .highlight {
    .bp {
      color: unset;
    }
  }
}
