# Project git ignore file
#
# Notice:
# You should specify environment ignored files at global ignore e.g.
#  * `*~` (vim swap file)
#  *`.DS_Store` (Mac OS Store File)
#  * `Thumb.db` (Windows Store File)
#  * etc.
#

/tmp/

# for pelican
/output/
/theme/content/static/dist-assets/

# for python
__pycache__/
*.pyc

# for npm
/node_modules/

# for pdflatex
*.log
*.aux
