[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
doc8 = "*"
docutils = "*"

[packages]
pelican = "*"
ghp-import = "*"
beautifulsoup4 = "*"
pillow = "*"

[requires]
python_version = "3"
