[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
doc8 = "*"
docutils = "*"
rstcheck = "*"

[packages]
pelican = "*"
ghp-import = "*"
beautifulsoup4 = "*"
pillow = "*"
Pygments = "*"
gitpython = "*"

[requires]
# for pelican 4.2.0
# See the https://github.com/getpelican/pelican/issues/2674
python_version = "3.7"
