article.single {
  line-height: 2.0;
}
article.single pre {
  line-height: 1.5em;
}
dl.docutils dt {
  padding: .5em;
}

article.single tt,
article.single a {
  overflow-wrap: break-word;
}

article.single table.docutils.footnote {
  width: 100%;
  table-layout: fixed;
}
article.single table.docutils.footnote td.label {
  width: 2em;
}
article.single table.highlighttable {
  width: 100%;
  table-layout: fixed;
}
article.single table.highlighttable td {
  border-style: none;
  padding: 0px;
}
article.single table.highlighttable td.linenos {
  width: 2.5em;
}
article.single table.highlighttable td.linenos pre {
  border-left: 0px;
  padding-right: 0.8em;
  background-color: inherit;
  text-align: right;
}

article.single mjx-container,
article.single math {
  overflow-x: auto;
}

i.fa-link.anchor-link {
  margin-left: 0.8em;
  font-size: 90%;
}
i.fa-link.anchor-link:not(:hover) {
  color: lightgray;
}


div.sharebuttons {
  display: flex;
}
div.sharebuttons ul.social li {
  margin-left: 0.4em;
}


body {
  color: #454545;
}
aside {
  color: #444;
  background-color: #eee;
}
aside a {
  color: inherit;
}
aside a:hover {
  color: #555;
}
ul.social a {
  color: #ffffff;
}


ul.social a.sc-clipboard {
  background-color: lightslategray;
}
ul.social a.sc-get-pocket {
  background-color: lightcoral;
}
ul.social a.sc-code {
  background-color: gray;
}


.tooltip {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 12px 0px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  margin: 5px;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff;
  overflow: hidden;
}
.tooltip .tooltip-arrow::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  left: calc(50% - 5px);
  box-shadow: rgba(0,0,0,0.2) 0px -3px 12px 0px;
  background-color: transparent;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  top: -10px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip .footnote-tooltip-content {
  padding: 4px 10px;
}
