article.single {
  line-height: 2.0;
}

dl.docutils dt {
  padding: .5em;
}

i.fa-link.anchor-link {
  margin-left: 1em;
  font-size: 90%;
}

i.fa-link.anchor-link:not(:hover) {
  color: lightgray;
}
