article.single {
  line-height: 2.0;
}

dl.docutils dt {
  padding: .5em;
}

i.fa-link.anchor-link {
  margin-left: 0.8em;
  font-size: 90%;
}

i.fa-link.anchor-link:not(:hover) {
  color: lightgray;
}

div.sharebuttons {
  display: flex;
}

div.sharebuttons ul.social li {
  margin-left: 0.4em;
}

body {
  color: #454545;
}

aside {
  color: #444;
  background-color: #eee;
}

aside a {
  color: inherit;
}

aside a:hover {
  color: #555;
}

ul.social a {
  color: #ffffff;
}


ul.social a.sc-clipboard {
  background-color: lightslategray;
}

ul.social a.sc-get-pocket {
  background-color: lightcoral;
}

ul.social a.sc-code {
  background-color: gray;
}
