name: CI Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
          fetch-depth: 0
      - uses: ./.github/actions/setup-devenv
        with:
          with-locale: 'true'
      - name: Build
        run: |
          devenv shell make html
          devenv shell make publish
        env:
          LOCALE_ARCHIVE: /usr/lib/locale/locale-archive
