name: CI Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          fetch-depth: 0
      - uses: ./.github/actions/setup-devenv
        with:
          with-locale: 'true'
      - name: Build
        run: |
          devenv shell make html
          devenv shell make publish
        env:
          LOCALE_ARCHIVE: /usr/lib/locale/locale-archive
