name: CI Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
          fetch-depth: 0
      - uses: ./.github/actions/setup-devenv
      - name: Run pytest
        run: devenv shell uv run pytest
